<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login</title>
</head>
<body>
    <form method="post" action="/login">
        <div class="box">
        <h1>Login</h1>
        
        <input type="text" name="name" placeholder="username/admin"  class="email" />
          
        <input type="password" name="pass" placeholder="password"  class="email" />
          
        <button class="btn" type="submit">Sign In</button> 
        
    
        </div> 
          
    </form>
        
        <p>New User? <a style="color:#f1c40f;" href="/register">Click Here!</a></p>
</body>
</html>